<!DOCTYPE html>

<html lang="en">
    <head>
        <title>EVERYTHING ABOUT IFTAKHAR KABIR SAKUR</title>
      <button class="a" onclick><a href ="https://ide-db68610f09544ba8a1f01dfb7d35649f-8080.cs50.ws/login">PAGE 1</a></button>
       <button onclick><a href ="https://ide-db68610f09544ba8a1f01dfb7d35649f-8080.cs50.ws/photos">PAGE 3</a></button>
         <p align="right" style="background-color:firebrick;"><button onclick><a href ="https://ide-db68610f09544ba8a1f01dfb7d35649f-8080.cs50.ws/mylink">PAGE 4</a></button></right></p>
         <style>
          .IFTAKHAR-KABIR-SAKUR{right:70px;
              background-color:red;
          }
          body{background-color:FIREBRICK;
               color:gold;
          }
          h5{
              background-color:black;
          }
          h3{
              background-color:indigo;
              font-size:30px;
          }
          p{background-color:Hotpink;
             color:white;
          }
          .m{
              color:white;
              FONT-SIZE:13PX;
          }
          .j{
              color:white;
           background-color:black;
           font-size:15px;
          }
      </style>
    </head>
    <body>

        <center><h3>About Myself</h3></center>
        <p>My name is Mohammad Iftakhar Kabir Sakur.I am 21+ years old(15th December,2021).My Dream is to become an Engineer.Once I had a dream to become an Engineer.In 23rd March 2020 during Covid-19 pandemic first stage to
        fullfill the dream had come true.I was selected in IIUC(International Islamic University Chittagong) in CCE(Computer Communication & Engineering) subject.
        Now my only passion is to do programming also becoming a full stack web developer.Also want to become the first in my depertmental exams.</p>
        <h6 class="j"><u>MEANING OF H O B B Y TO ME:</u></h6>
        <p>There is no any specific hobby of mine.I like whatever gives me happiness.It turns out that the word hobby doesn't make any sense to me.I don't know much but I think everyone should like the thing they do.
         That should make everyone happy. </p>
         <h5 class="m"><u>MEANING OF  S U C C E S S   TO  ME:</u></h5>
         <p>To me success have two meanings for two sections.One is from religious side,another from the life we are living.Working for both side and leading a good life is the actual
         meaning of success to me.But success is not the only thing that we should search for.Even though our value of life unexpectedly depends on this.</p>

        <center><h3><U>CURRICULUMN VITAE</U></h3></center>
        <right><img src="file:///D:/SAKUR2.jpg" class="IFTAKHAR-KABIR-SAKUR">IFTAKHAR KABIR SAKUR</right>
        <h5><u>NAME:</u><h5 style="color:white;"> MD IFTAKHAR KABIR SAKUR</h5></h5>
         <h5 style "color:red"><u>FATHER'S NAME:</u> <h5 style="color:white;">MD NAZMUL KABIR MOLLAH </h5></h5>
          <h5 style="background-color:black;"><u>MOTHER'S NAME:</u><h5 style="color:white;"> NAZMA BEGUM</h5> </h5>
         <h5><u>PRESENT ADDRESS:</u> <h5 style="color:white;">RAHMANMANJIL,MADRAZI SHAH ROAD ,CEPZ,CHITTAGONG </h5> </h5>
          <h5>
        <u>PERMANENT ADDRESS:</u>
        <h5 style="color:white;">
          <ol>VILLAGE:HATABO;</ol>
          <ol> POLICE OFFICE: RUPGANJ;</ol>
          <ol>PPOST OFFICE: MASUMABAD;</ol>
          <ol>DISTRICT:NARAYANGANJ;</ol>
          <ol>DIVISION: DHAKA;</ol>
          </h5></h5>
           <h5><u>DATE OF BIRTH:</u> <h5 style="color:white;">11th FEBRUARY,2001</h5> </h5>
         <h5><u>RELIGION:</u><h5 style="color:white;">ISLAM</h5> </h5>
         <h5><u>NATIONALITY:</u><h5 style="color:white;"> BANGLADESHI</h5> </h5>
           <h5><u>MARITAL STATUS:</u> <h5 style="color:white;">UNMARRIED </h5></h5>
          <h5><u>EDUCATIONAL QUALIFICATION:</u>
                   <marquee direction= height="100" width="200" bgcolor="white"><h4 style="color:black">PSC: 4.83</h4></marquee>
                  <marquee direction= height="100" width="200" bgcolor="white"><h4 style="color:black">JSC: 5.00</h4></marquee>
                  <marquee direction= height="100" width="200" bgcolor="white"><h4 style="color:black">SSC: 5.00</h4></marquee>
                  <marquee direction= height="100" width="200" bgcolor="white"><h4 style="color:black">HSC:</h4></marquee>

                  <marquee direction= height="100" width="500" bgcolor="white"><h4 style="color:black">UNIVERSITY:</h4><h4 style="color:black;"><p>1ST SEMESTER:3.636</p>
                  <p>2nd SEMESTER:3.72</p></marquee></h5>




          <h5><u>LANGUAGR SKILL: </u><h5 style="color:white;">
                 <ol><U>FLUENT IN</U>:     BANGLA,ENGLISH</ol>
                 <OL><U>CONTROVERSIAL:</U> ARABIC,URDU,HINDI</OL></h5></h5>
           <h5><u>ACHIEVEMENT:</u><h5 style="color:white;"> WILL BE ADDED SOON </h5> </h5>


       </body>

<marquee direction="down" height="100" width="200" bgcolor="white"><h5 style="color:white;">ACHIEVEMENT</h5> </marquee>
<marquee direction="down" height="100" width="200" bgcolor="white"><right><h5 style="color:white;">ACHIEVEMENT </h5></right> </marquee>
<marquee direction="down" height="100" width="200" bgcolor="white"><h5 style="color:white;">ACHIEVEMENT </h5> </marquee>
<marquee direction="down" height="100" width="200" bgcolor="white"><h5 style="color:white;">ACHIEVEMENT </h5> </marquee>
<marquee direction="down" height="100" width="200" bgcolor="white"> <h5 style="color:white;">ACHIEVEMENT</h5></marquee>
<marquee direction="down" height="100" width="200" bgcolor="white"><h5 style="color:white;">ACHIEVEMENT</h5> </marquee>
<marquee direction="down" height="100" width="200" bgcolor="white"> <h5 style="color:white;">ACHIEVEMENT</h5></marquee>
</html>